<nav class="navbar navbar-expand-md navbar-light my-navbar-style">
    <a class="navbar-brand" routerLink="/">Story Editor</a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project</a>  
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <app-project-upload></app-project-upload>
                    <app-project-download></app-project-download>
                    <app-game-format></app-game-format>
                </div>
            </li> -->
            <!-- <li class="nav-item nav-form">
                <form class="form-inline my-2 my-lg-0 navbar-left">
                    <input class="form-control mr-sm-2" type="text" placeholder="Project Name" (change)="OnChangeName($event.target.value)" #fileName>
                </form>
            </li> -->
            <li class="nav-item">
                <a routerLink="/data-settings" class="nav-link">Event Settings</a>
            </li>
            <li class="nav-item">
                <a routerLink="/data-types" class="nav-link">Data Types</a>
            </li>
        </ul>
    </div>
</nav>