<div class="card node">
    <div class="card-header" role="tab" id="section1HeaderId">
      <h5 class="mb-0">
          {{node.GetName()}}
          <div class="dropdown open float-right">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                  Options
                </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
              <button class="dropdown-item" (click)="AddNameLabel()" [hidden]="node.choices.length > 0" *ngIf="node.name.length <= 0">Add Name Label</button>
              <button class="dropdown-item" (click)="AddData()" [hidden]="node.data !== undefined && node.data.length > 0">Add Data</button>
              <button class="dropdown-item" (click)="AddConditionSetter()" [hidden]="node.setconditions.length > 0">Add Condition Setter</button>
              <button class="dropdown-item" (click)="AddRedirect()" [hidden]="node.redirects !== undefined && node.redirects.length > 1">Add Conditional Redirects</button>
              <button class="dropdown-item" (click)="AddChoice()" [hidden]="node.choices.length > 0">Add Choice</button>
            </div>
          </div>
      </h5>
    </div>
    <div>
      <div class="card-body">
        <input type="text" [(ngModel)]="node.name" (keyup)="changeName($event)" class="form-control mb-2" *ngIf="node.name.length > 0">
        <textarea id="" cols="40" rows="5" [(ngModel)]="node.text" class="form-control mb-2" (keyup)="changeText($event)"></textarea>
        <app-data-collection [nodeData]="node.data" *ngIf="node.data !== undefined && node.data.length > 0"></app-data-collection>
        <app-condition-collection [conditionOperators]="setConditionOperators" [name]="'Set Conditions'" [class]="'set-condition'" [conditions]="node.setconditions" *ngIf="node.setconditions != null && node.setconditions != undefined && node.setconditions.length > 0"></app-condition-collection>
        <app-redirect-container [redirects]="node.redirects" *ngIf="node.redirects !== null && node.redirects !== undefined && node.redirects.length > 0"></app-redirect-container>
        <app-choice-collection (deleteLastChoice)="deleteLastChoice()" [choices]="node.choices" *ngIf="node.choices !== null && node.choices !== undefined && node.choices.length > 0"></app-choice-collection>
      </div>
</div>