<div class="card">
  <div class="card-header global-var" role="tab" id="section1HeaderId">
    <h5 class="mb-0">
      <a data-toggle="collapse" data-parent="#accordianId" href="#globalVars" aria-expanded="true" aria-controls="globalVars"
        class="text-light">
        Global Variables
        <button class="btn btn-square float-right" (click)="addVariable($event, 'boolean')">
            <i class="fa fa-plus"></i>
        </button>
      </a>
    </h5>
  </div>
  <div id="globalVars" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" #collapse>
    <div class="card-body">
      <input type="text" class="form-control mb-2" [(ngModel)]="searchString" placeholder="Search global variables...">
      <div class="container globalVarBody" *ngIf="searchString.length > 0">
        <div class="row form-inline varEditor" *ngFor="let variable of (globalVariables | fusejs:searchString:{keys: ['name'], distance: 100})">
              <input type="text" class="form-control editField" [(ngModel)]="variable.name" (change)="OnChange()">
              <select class="form-control typeSelect" (change)="ChangeType(variable, $event.target.value)" [value]="TypeOf(variable)">
                <option value="boolean">boolean</option>
                <option value="string">string</option>
                <option value="number">number</option>
              </select>
              <input type="text" class="form-control editField" *ngIf="TypeOf(variable) === 'string'" [(ngModel)]="variable.value">
              <input type="number" class="form-control editField" *ngIf="TypeOf(variable) === 'number'" [(ngModel)]="variable.value">
              <select class="form-control editField" (change)="ChangeBoolValue(variable, $event)" *ngIf="TypeOf(variable) === 'boolean'">
                <option value="true">true</option>
                <option value="false">false</option>  
              </select>
              <button class="btn btn-danger" type="submit" (click)="deleteVariable(variable.id.toString())">
                  <i class="fa fa-trash"></i>
              </button>
        </div>
      </div>
      <div class="container globalVarBody" *ngIf="searchString.length === 0">
          <div class="row form-inline varEditor" *ngFor="let variable of globalVariables">
                <input type="text" class="form-control editField" [(ngModel)]="variable.name" (change)="OnChange()">
                <select class="form-control typeSelect" (change)="ChangeType(variable, $event.target.value)" [value]="TypeOf(variable)">
                  <option value="boolean">boolean</option>
                  <option value="string">string</option>
                  <option value="number">number</option>
                </select>
                <input type="text" class="form-control editField" *ngIf="TypeOf(variable) === 'string'" [(ngModel)]="variable.value">
                <input type="number" class="form-control editField" *ngIf="TypeOf(variable) === 'number'" [(ngModel)]="variable.value">
                <select class="form-control editField" (change)="ChangeBoolValue(variable, $event)" *ngIf="TypeOf(variable) === 'boolean'">
                  <option value="true">true</option>
                  <option value="false">false</option>  
                </select>
                <button class="btn btn-danger" type="submit" (click)="deleteVariable(variable.id.toString())">
                    <i class="fa fa-trash"></i>
                </button>
          </div>
        </div>
    </div>
  </div>
</div>